@media screen and (max-width: 1156px) {
  main #about #about-sadrzaj #about-opis h3 {
    font-size: 26px;
  }
  main #about #about-sadrzaj #about-opis p {
    font-size: 20px;
  }
  main #strengths #strength-blokovi .strength i {
    font-size: 58px;
  }
  main #strengths #strength-blokovi .strength h4 {
    font-size: 24px;
  }
  main #strengths #strength-blokovi .strength p {
    font-size: 19px;
  }
}
@media screen and (max-width: 1080px) {
  header .container {
    flex-wrap: wrap;
  }
  header .container #logo {
    width: 100%;
    justify-content: center;
  }
  header .container #menu {
    width: 100%;
  }
  header .container #menu ul {
    width: 100%;
    justify-content: center;
  }
  main #about #about-sadrzaj #about-opis .opis-blok h3 {
    font-size: 22px;
  }
  main #about #about-sadrzaj #about-opis .opis-blok p {
    font-size: 18px;
  }
  main #strengths #strength-blokovi .strength {
    width: 27%;
  }
  main #projects #projects-blok .project-site {
    width: 45%;
  }
}
@media screen and (max-width: 920px) {
  main #about #about-sadrzaj #about-opis .opis-blok h3 {
    font-size: 20px;
  }
  main #about #about-sadrzaj #about-opis .opis-blok p {
    font-size: 16px;
  }
  main #strengths #strength-blokovi .strength {
    width: 30%;
  }
  main #strengths #strength-blokovi .strength i {
    font-size: 54px;
  }
  main #strengths #strength-blokovi .strength h4 {
    font-size: 23px;
  }
  main #strengths #strength-blokovi .strength p {
    font-size: 18px;
  }
  main #projects #projects-blok .project-site p {
    font-size: 18px;
  }
}
@media screen and (max-width: 782px) {
  header .container #menu ul {
    flex-wrap: wrap;
  }
  main #cover {
    height: 683px;
  }
  main #cover #tr-bg .bg-text p {
    font-size: 34px;
  }
  main .naslov-oblasti h2 {
    font-size: 32px;
  }
  main #about p {
    font-size: 20px;
  }
  main #about #about-sadrzaj {
    flex-direction: column;
    padding: 0px;
  }
  main #about #about-sadrzaj #about-slika {
    padding-bottom: 20px;
  }
  main #about #about-sadrzaj #about-opis .opis-blok p {
    padding-bottom: 10px;
  }
  main #strengths #strength-blokovi {
    flex-direction: column;
  }
  main #strengths #strength-blokovi .strength {
    width: 55%;
    flex-direction: column;
    margin-bottom: 30px;
  }
  main #strengths #strength-blokovi .strength:last-child {
    margin-bottom: 0px;
  }
  main #strengths #strength-blokovi .strength i {
    font-size: 54px;
    padding-bottom: 15px;
  }
  main #strengths #strength-blokovi .strength h4 {
    font-size: 23px;
  }
  main #strengths #strength-blokovi .strength p {
    font-size: 18px;
  }
  main #projects #projects-blok {
    flex-direction: column;
  }
  main #projects #projects-blok .project-site {
    width: 60%;
  }
  main #projects #projects-blok .project-site:first-child {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 590px) {
  main #about p {
    font-size: 17px;
  }
  main #about .container {
    padding: 10px 0px;
  }
  main #cover #tr-bg .bg-text {
    padding: 35px;
  }
  main #strengths #strength-blokovi .strength {
    width: 65%;
  }
  main #strengths #strength-blokovi .strength i {
    font-size: 50px;
  }
  main #strengths #strength-blokovi .strength h4 {
    font-size: 20px;
  }
  main #strengths #strength-blokovi .strength p {
    font-size: 15px;
  }
  main #projects #projects-blok .project-site {
    width: 65%;
  }
}
@media screen and (max-width: 416px) {
  header #logo #logo-img img {
    height: 55px;
  }
  header #logo #logo-text h1 {
    font-size: 38px;
  }
  header #menu ul li a {
    font-size: 24px;
  }
  main #cover #tr-bg .bg-text p {
    font-size: 32px;
  }
  main #about p {
    font-size: 13px;
  }
  main .naslov-oblasti h2 {
    font-size: 24px;
  }
  main #strengths #strength-blokovi .strength {
    width: 80%;
  }
  main #strengths #strength-blokovi .strength i {
    font-size: 40px;
  }
  main #strengths #strength-blokovi .strength h4 {
    font-size: 17px;
  }
  main #strengths #strength-blokovi .strength p {
    font-size: 12px;
  }
  main #projects #projects-blok .project-site {
    width: 80%;
  }
  main #projects #projects-blok .project-site p {
    font-size: 15px;
  }
}
